<nz-card>
    <div class="card-left">
        <p>Мартин Русков, студент по дентална медицина в Медицински университет Пловдив, предлага професионални услуги на символични цени, като неотлъчно се стреми към съвършенство във всяка процедура. Вниманието му към детайла и стремежът към перфекционизъм гарантират високо качество на грижите за всеки пациент. Мартин винаги поставя комфорта на пациентите си на първо място, осигурявайки им спокойно и безопасно лечение. С индивидуален подход към всеки случай, той демонстрира професионализъм и отдаденост, които му помагат да изгражда доверие и да постига отлични резултати в денталната медицина.</p>
    </div>
    <div class="card-mid"></div>
    <div class="card-right">
      <img class="section-image" src="/assets/dental-tools-photo.jpg" alt="dental tools photo">
    </div>
</nz-card>