<div class="grid lg:grid-cols-3 pt-16 pb-8 md:pt-12 md:pb-12">
  <div class="md:order-1 hidden lg:block">
    <img style="max-height: 25rem; margin: 0 auto;" class="rounded-md" src="/assets/dental-tools-photo.jpg" alt="dental tools photo">
  </div>
  <div class="col-span-2 md:max-w-xl md:m-auto lg:max-w-full lg:m-0">
      <p class="text-lg mt-4 text-slate-600">Мартин Русков, студент по дентална медицина в Медицински университет Пловдив, предлага професионални услуги на символични цени, като неотлъчно се стреми към съвършенство във всяка процедура. Вниманието му към детайла и стремежът към перфекционизъм гарантират високо качество на грижите за всеки пациент. Мартин винаги поставя комфорта на пациентите си на първо място, осигурявайки им спокойно и безопасно лечение. С индивидуален подход към всеки случай, той демонстрира професионализъм и отдаденост, които му помагат да изгражда доверие и да постига отлични резултати в денталната медицина.</p>
  </div>
</div>