<nz-card>
    <div class="card-left mr-30">
        <p class="justify" style="margin-bottom: 10px;">Здравейте! Аз съм <span class="gradient"><b>МАРТИН РУСКОВ</b></span>,</p>
        <h1>Студент по дентална медицина в Медицински университет Пловдив</h1>
        <p class="justify">Предлагам своите услуги на всички, които искат да се погрижат за оралното си здраве и хигиена. Прегледът и консултацията са безплатни, а цените на останалите манипулации са символични. Заповядайте при мен или се обадете за консултация. Обръщам внимание на всеки пациент с професионализъм и грижа. Очаквам Ви!</p>
        <a class="button" href="#contacts">ЗАПАЗЕТЕ ЧАС ЗА КОНСУЛТАЦИЯ</a>
    </div>
    <div class="card-mid"></div>
    <div class="card-right">
      <img class="profile-photo" src="/assets/profile-photo.png" alt="profile photo">
    </div>
</nz-card>