<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-12">
  <div class="py-8 px-8 md:order-1 hidden lg:block">
    <img class="rounded-md" src="/assets/profile-photo.png" alt="profile photo">
  </div>
  <div class="">
      <p class="text-2xl gradient">&mdash; студент по дентална медицина</p>
      <br>
      <p class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">Мартин</p>
      <p class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">Русков.</p>
      <br>
      <p class="text-lg mt-4 text-slate-600 max-w-xl">Предлагам своите услуги на всички, които искат да се погрижат за оралното си здраве и хигиена. Прегледът и консултацията са безплатни, а цените на останалите манипулации са символични. Заповядайте при мен или се обадете за консултация. Обръщам внимание на всеки пациент с професионализъм и грижа. Очаквам Ви!</p>
      <div class="pt-6">
        <a class="button shadow-md inline-block" href="#contacts">ЗАПАЗЕТЕ ЧАС ЗА КОНСУЛТАЦИЯ</a>
      </div>
  </div>
</main>