.button {
    background-image: linear-gradient(to right, #0dafd4 0%, #8e3efa  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    size: 1rem;
    margin: 0;
}

.button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.gradient {
    background: -webkit-linear-gradient(#0dafd4, #8e3efa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}