<app-header></app-header>
<div class="max-w-screen-xl mx-auto px-5">
  <app-main></app-main>
  <div class="mt-16 md:mt-0">
    <h2 id="services" class="gradient text-4xl lg:text-5xl font-bold lg:tracking-tight">УСЛУГИ</h2>
    <app-services></app-services>
  </div>
  <div class="mt-16 md:mt-0">
    <h2 id="about" class="gradient text-4xl lg:text-5xl font-bold lg:tracking-tight">ЗА МАРТИН</h2>
    <app-about></app-about>
  </div>
  <h2 id="testimonials" class="gradient text-4xl lg:text-5xl font-bold lg:tracking-tight">ОТЗИВИ</h2>

  <div class="grid lg:grid-cols-3 pt-16 pb-8 md:pt-12 md:pb-12">
    <app-testimonial style="margin: 0 auto;" class="p-3" [message]="'Изключително съм доволен от услугата, която получих от Мартин Русков! Взе ми мярка за шина за бруксизъм много бързо и с голяма прецизност. Професионален и внимателен, той се погрижи да се чувствам комфортно през цялото време. Препоръчвам го с две ръце!'" [author]="'Димитър Русков'"></app-testimonial>
    <app-testimonial style="margin: 0 auto;" class="p-3" [message]="'Мартин Русков свърши страхотна работа с изработката на брекети за една от кравите във фермата, където работя! Кравата беше усмихната през цялото време и изглеждаше повече от доволна от резултата. Мартин се отнесе с голям професионализъм и внимание дори към най-малките детайли. Препоръчвам го дори за животни, които искат перфектната усмивка!'" [author]="'Иван Русков'"></app-testimonial>
    <app-testimonial style="margin: 0 auto;" class="p-3" [message]="'Мартин Русков свърши страхотна работа с изработката на брекети за една от кравите във фермата, където работя! Кравата беше усмихната през цялото време и изглеждаше повече от доволна от резултата. Мартин се отнесе с голям професионализъм и внимание дори към най-малките детайли. Препоръчвам го дори за животни, които искат перфектната усмивка!'" [author]="'Иван Русков'"></app-testimonial>
  </div>

  <h2 id="contacts" class="gradient text-4xl lg:text-5xl font-bold lg:tracking-tight">КОНТАКТИ</h2>
  <app-contacts></app-contacts>
  <h2 class="gradient section-header"></h2>
</div>
    <!-- <nz-qrcode nzValue="https://martinruskov.com"></nz-qrcode> -->
<nz-footer class="max-w-screen-xl mx-auto px-5">Ant Design ©2024 Implemented By Dimitar Ruskov</nz-footer>