


<div class="grid lg:grid-cols-3 place-items-center pt-16 pb-8 md:pt-12 md:pb-12">
    <div class="md:order-0 hidden lg:block">
        <img style="max-height: 600px;" class="rounded-md" src="/assets/prothesis-photo.jpg" alt="prosthesis photo">
    </div>
      <div class="py-8 px-8 col-span-2 md:max-w-xl md:m-auto lg:max-w-full lg:m-0">
            <div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
                <div class="li-service">
                    <img class="li-img" src="/assets/images/examination.png" alt="examination">
                    <p class="font-semibold text-lg mt-2 leading-relaxed">Безплатни преглед и консултация</p>
                </div>
                <div class="li-service">
                    <img class="li-img" src="/assets/images/denture.png" alt="denture">
                    <p class="font-semibold text-lg mt-2 leading-relaxed">Изработка на протези, корони, мостове</p>
                </div>
                <div class="li-service">
                    <img class="li-img" src="/assets/images/extraction.png" alt="extraction">
                    <p class="font-semibold text-lg mt-2 leading-relaxed">Екстракция на зъб</p>
                </div>
                <div class="li-service">
                    <img class="li-img" src="/assets/images/chair.png" alt="dental chair">
                    <p class="font-semibold text-lg mt-2 leading-relaxed">Кореново лечение</p>
                </div>
                <div class="li-service">
                    <img class="li-img" src="/assets/images/filling.png" alt="filling">
                    <p class="font-semibold text-lg mt-2 leading-relaxed">Лечение на кариес</p>
                </div>
                <div class="li-service">
                    <img class="li-img" src="/assets/images/clean.png" alt="clean">
                    <p class="font-semibold text-lg mt-2 leading-relaxed">Почистване на зъбен камък</p>
                </div>
            </div>
            <div class="inline-block pt-10">
                <i class="text-slate-500 leading-relaxed">Всички манипулации се извършват под стриктното наблюдение на опитен специалист от Факултета по Дентална медицина към Медицински университет Пловдив, за да се гарантира безопасността и качеството на процедурите.</i>
            </div>
      </div>
</div>