<nz-card>
    <div class="card-left">
      <img class="section-image" src="/assets/prothesis-photo.jpg" alt="profile photo">
    </div>
    <div class="card-mid"></div>
    <div class="card-right ml-30">
        <div nz-row class="service-row">
            <div nz-col nzSpan="12">
                <img class="li-img" src="/assets/images/examination.png" alt="examination">
                <p>Безплатни преглед и консултация</p>
            </div>
            <div nz-col nzSpan="12">
                <img class="li-img" src="/assets/images/denture.png" alt="denture">
                <p>Изработка на протези, корони, мостове</p>
            </div>
        </div>
        <div nz-row class="service-row">
            <div nz-col nzSpan="12">
                <img class="li-img" src="/assets/images/extraction.png" alt="extraction">
                <p>Екстракция на зъб</p>
            </div>
            <div nz-col nzSpan="12">
                <img class="li-img" src="/assets/images/chair.png" alt="dental chair">
                <p>Кореново лечение</p>
            </div>
        </div>
        <div nz-row class="service-row">
            <div nz-col nzSpan="12">
                <img class="li-img" src="/assets/images/filling.png" alt="filling">
                <p>Лечение на кариес</p>
            </div>
            <div nz-col nzSpan="12">
                <img class="li-img" src="/assets/images/clean.png" alt="clean">
                <p>Почистване на зъбен камък</p>
            </div>
        </div>
        <div class="disclaimer-row">
            <p><i>Всички манипулации се извършват под стриктното наблюдение на опитен специалист от Факултета по Дентална медицина към Медицински университет Пловдив, за да се гарантира безопасността и качеството на процедурите.</i></p>
        </div>
    </div>
</nz-card>